
.btn-gradient {
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#1BCB7F, #38ef7d);
  transition: background 0.3s ease;
  border: 1px solid #1EDD88;
  font-size: 30px;
}

.btn-white{
  color: white;
}

.btn-gradient:hover {
  color: white;
  background: linear-gradient(#1BCB7F, #38ef7d);
}
